
@font-face {
    font-family: 'FiraMono';
    src: url('font/FiraMono-Regular.ttf');
}

@font-face {
    font-family: 'symbols';
    src: url('font/Symbols.ttf');
}

@font-face {
    font-family: 'BaileyReg';
    src: url("font/B3.ttf");
}

@font-face {
    font-family: 'BaileyBold';
    src: url("font/B2.ttf");
}

@keyframes buttonHover {
    from { background: #f9f9f9; }
    to { background: white; }

}

body {
    display: inline-block;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.sidePanelHeader {
    text-align: center;
    top: 65px;
    font-size: 1.2em;
    color: #393939;
    font-weight: bold;
    position: relative;
}

.sidePanelContent {
    width: 100%;
    position: absolute;
    top: 10em;
}

#importExportPanel .sidePanelContent {
    top: 9.5em;
}

#exportSubheader {
    text-align: center;
    font-size: 1.2em;
    color: #393939;
    font-weight: bold;
    margin: 2em 0;
}

.sidePanelMenuSecondary {
    text-align: center;
    font-style: italic;
    font-size: 0.85em;
    position: relative;
    top: 70px;
}

#engineMenuServer {
    text-align: center;
    font-size: 0.85em;
    font-style: italic;
    margin-top: 2.8em;
}

#engineMenuServer input {
    font-family: 'Fira Mono';
}

.sidePanel {
    overflow-y: auto;
    box-shadow: #a0a0a0d6 0px 7px 9px 0px;
    background: #f3f3f3e3;
    min-width: 32em;
    left: 17px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 7em;
}

#tableHead {
    font-size: 0.55em;
    color: #393939; 
    height: 2em;
}

#engine {
    display: inline-block;
}

#engineIndicator, #engineIndicatorBig {
    margin-left: 0.2em;
    font-style: normal;
    color: #797979;
    font-size: 1.3em;
}

#engineIndicatorBig {
    position: absolute;
    top: -0.14em;
}

body {
    font-family: 'FiraMono', monospace;
    background: #f9f9f9;
}

.clickMenu li {
    margin: 5px 0;
}

ul {
    list-style: none;
}

#logo {
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
    left: 1em;
    font-family: 'BaileyReg', monospace;
    font-weight: normal;
    color: #3a568c;
    font-size: 1.9em;
}

#renameTextInputLI {
    background: #eef3f9;
}

.nodeRenamingButton {
    display: none;
}

#header {
    display: flex;
}

.menuButton:hover {
    animation: buttonHover 0.4s;
    background: white;
}

.menuButton {
    border-radius: 4px;
    user-select: none;
    border: #c1c1c1 solid 1px;
    cursor: pointer;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #393939;
    width: fit-content;
    width: -moz-fit-content;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #f9f9f9; 
}

.menuButtonInactive {
    border-radius: 4px;
    user-select: none;
    border: #c1c1c1 solid 1px;
    cursor: pointer;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #393939;
    width: fit-content;
    width: -moz-fit-content;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    pointer-events: none;
    background: #d4d4d4; 
}

.menuVertical .menuButton, .menuVertical .menuButtonInactive {
    margin: 0.7em auto;
}

.sidePanel > .menuButton {
    font-size: 0.75em;
    margin: 5px;
    position: absolute;
    right: 0;
}

#resultTable {
    position: relative;
    top: 120px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7em;
}

td {
    padding-right: 1em;
    padding-left: 1em;
}

tr {
    vertical-align: initial;
}

#addressInput {
    padding: 3px 8px;
    border: 1px solid #a5a5a5;
}

#addressInput:focus {
    padding: 3px 8px;
    border: 1px solid #a5a5a5;
    box-shadow: #afafaf 0 0 8px 0px;
    outline: none;
}

.tableBehavior {
    font-family: 'symbols';
    letter-spacing: 5px;
    font-style: normal;
}

#mainMenu {
    position: absolute;
    top: 3em;
    left: 1.45em;
    padding: 0;
    border: 18px solid transparent;
    margin: 0;
}

#mainMenu li {
    display: inline;
}

#renameTextInput {
    border: none;
    background: red;
    font-size: 1.3em;
    font-family: 'FiraMono';
    background: transparent;
}

#renameTextInput:focus {
    border: none;
    outline: none;
}

.clickMenu {
    color: #393939;
    cursor: pointer;
    user-select: none;
    position: absolute;
    padding: 0;
    margin: 0;
    display: none;
}

#engineMessage {
    cursor: pointer;
    text-transform: lowercase;
}

#title{
    font-family: 'BaileyBold', monospace;
    font-weight: bold;
    color: #d05d5d;
}

ul {
    width: fit-content;
    width: -moz-fit-content;
}

#help_page {
    color: #6d4f4f;
}

#container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    top: 0;
    z-index: -1;
}

.speciesNameInputBox {
    background: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-family: 'Fira Mono';
    outline-offset: 0;
    font-size: 1.3em;
    color: #393939;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
    position: relative;    
}

.modelh3 {
    padding: 12px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #393939;
}

.speciesNameInputBox:focus {
    border: 1px solid #466093;
    border-radius: 4px;
    outline: none;
}

.modelTableRegulation {
    padding: 3px 0;
}

.modelTableTo {
    display: inline-block;
    position: absolute;
    left: 56%;
}

.modelTableFrom {
    display: inline-block;
    font-size: 1.1em;
    padding: 0 20px;
}

.modelTableArrow, .modelTableObservability {
    font-size: 0.9em;
    margin: 0 4px;
    cursor: pointer;
    font-style: italic;
    display: inline-block;
}

.modelTableArrow:hover, .modelTableObservability:hover {
    font-weight: bold;
}

.modelTableSpecies {
    margin: 11px;
    color: #393939;
    padding: 5px 0;
    border: solid #c3c3c3 1px;
    border-radius: 4px;
    background: white;
}

#modelListContainer {
    padding-bottom: 1em;
}

.modelTableConstraints {
    font-size: 0.8em;
    position: relative;
    margin-top: 7px;
    left: 1em;
}

.constraintTextBox {
    font-size: 0.9em;
    width: 90%;
    font-family: 'Fira Mono';
    background: none;
    border: none;
    margin-left: 20px;
    margin-bottom: 7px;
}

.constraintTextBox:focus {
    outline: none;
}

#sbmlIOengine {
    visibility: visible;
    font-style: italic;
    font-size: 0.85em;
    width: 70%;
    margin: 10em auto;
    text-align: center;
}

.noRegulationsMessage {
    font-size: 0.9em;
    margin-left: 20px;
    margin-bottom: 7px;
    color: #757575;
}

#modelHasChanged {
    visibility: visible;
    font-style: italic;
    font-size: 0.85em;
    width: 70%;
    margin: 10em auto;
    text-align: center;
}

#noModelMessage {
    position: fixed;
    top: 45vh;
    font-style: italic;
    color: #797979;
    text-align: center;
    width: 100%;
}

#resultLegend {
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 100%;
    font-style: italic;
    color: #393939;
    font-size: 0.8em;
}

#resultLegend .tableBehavior {
    font-size: 1.4em;
}
